.header {
  height: 10vh;
  background-color: hsl(209, 23%, 22%);
  color: white;
  padding: auto;
  align-items: center;
}

.header div {
  padding-top: 20px;
}

.header div h2 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 480px) {
}
