@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #333;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main {
  min-height: 90vh;
}
